<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ page.title }} - {{ site.title }}</title>
<link rel="shortcut icon" href="assets/images/favico.ico"/>

<!-- CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/cover.css">

<!-- T-Rex-Runner -->
<link rel="stylesheet" href="assets/css/t-rex-runner.css">
<script src="assets/js/t-rex-runner.js"></script>

<!-- Valine -->
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

<!-- Google site verification -->
<meta name="google-site-verification" content="WU8Apf-rG0YKK3CHBQbdIfofabhJtJzUeziOEctI0Z0" />
<!-- Microsoft validate -->
<meta name="msvalidate.01" content="63DC2E81FDE07CA6AEA2CC475331A598" />