<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include nav_bar.html %}
    
    <div class="jumbotron jumbotron-fluid"
        style="background-image: url(https://{{ site.url }}/assets/images/25black.png), url({{ site.sources_url }}/2021-03-23-bi-ye-zhao/byz.jpg);background-size: cover;background-position: 50% 30%;padding-top: 250px;padding-bottom: 250px;">
        <h1 class="text-light container">{{ site.title }}</h1>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <div style="padding-top: 50px;" class="container"><hr></div>

    {% include footer.html %}

    {% include js.html %}
</body>

</html>